@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: monopolyFont;
    src: url(./assets/MuseoModerno-VariableFont_wght.ttf);
}


html, body {
  background: #CAE8E0;
  color: #000000;
  margin: 0;
  padding: 0;
}

.main{
  margin: 0;
  padding: 0;
}



.iceBreakers-Logo{
    width: 100vw;
    max-width: 600px;
    height: 20vh;
    position: relative;
    margin: 40px auto; 

}
.iceBreakers-Box{
    width: 100%;
    height: 100%;
    border: 5px solid white;
    background: #D9292E;
    border-radius: 5px;
    outline: 2px solid black;
}
.iceBreakers-text{
    color: white;
    font-family: monopolyFont;
    font-size: 4.5em;
    text-align: center;
    line-height: 2.5em;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    font-weight: bold;
}


.landingPageButtons{
  width: 100vw;
  height: 60vh;
  position: relative;
}

.makeRoom{
  background-color: #E4FFF8;
  width: 35%;
  max-width: 400px;
  float: left;
  margin-left: 20vw;
  height: 100%;
  border: 5px solid black;
}

.joinRoom{
  background-color: #E4FFF8;
  width: 35%;
  max-width: 400px;
  float:right;
  margin-right: 20vw;
  height: 100%;
  border: 5px solid black;
}

.makeRoom-Color{
  height: 20%;
  width: 100%;
  background-color: #C7E7FC;
  border-bottom: 5px solid black;
}

.joinRoom-Color{
  height: 20%;
  width: 100%;
  background-color: #A45D29;
  border-bottom: 5px solid black;
}


.form{
  display: flex;
  flex-direction: column;
  align-items: center; 
  width: 100%;
}

.makeRoom-Label {
  display: block;          
  width: 100%;            
  color: black;
  font-family: monopolyFont;
  font-size: 2.5em;
  text-align: center;      
  line-height: 2em;
  font-weight: bold;
  margin: 10% auto 0 auto;
}


.makeRoom-Textbox{ 
  display: block;          
  width: 60%;            
  color: black;
  font-family: monopolyFont;
  font-size: 1em;      
  line-height: 2em;
  margin: 30% auto 0 auto;
  border: 2px solid black;
  border-radius: 5px;
}

.makeRoom-Button{
  display: block;          
  width: 60%;            
  color: black;
  font-family: monopolyFont;
  font-size: 1em;      
  line-height: 2em;
  margin: 5% auto 0 auto;
  border: 2px solid black;
  border-radius: 5px;
  background-color: #C7E7FC;
}

.makeRoom-Button,
.joinRoom-Button {
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
}

.makeRoom-Button:hover {
  background-color: #9edcf0;
  transform: scale(1.05);
  box-shadow: 4px 4px 10px rgba(0,0,0,0.5);
}

.joinRoom-Button:hover {
  background-color: #C17A4D;
  transform: scale(1.05);
  box-shadow: 4px 4px 10px rgba(0,0,0,0.5);
}

.makeRoom-Button:active,
.joinRoom-Button:active {
  transform: scale(0.98);
  box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
}


@keyframes shake {
  0% { transform: translateX(0); }
  20% { transform: translateX(-5px); }
  40% { transform: translateX(5px); }
  60% { transform: translateX(-5px); }
  80% { transform: translateX(5px); }
  100% { transform: translateX(0); }
}

.shake {
  animation: shake 0.3s ease;
}




.joinRoom-Label {
  display: block;          
  width: 100%;            
  color: black;
  font-family: monopolyFont;
  font-size: 2.5em;
  text-align: center;      
  line-height: 2em;
  font-weight: bold;
  margin: 10% auto 0 auto;
}


.joinRoom-Textbox{ 
  display: block;          
  width: 60%;            
  color: black;
  font-family: monopolyFont;
  font-size: 1em;      
  line-height: 2em;
  margin: 30% auto 0 auto;
  border: 2px solid black;
  border-radius: 5px;
}

.joinRoom-Button{
  display: block;          
  width: 60%;            
  color: black;
  font-family: monopolyFont;
  font-size: 1em;      
  line-height: 2em;
  margin: 5% auto 0 auto;
  border: 2px solid black;
  border-radius: 5px;
  background-color: #A45D29;
}